[[define "changePassword"]]
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>갈림길</title>
    <link rel="stylesheet" href="/assets/css/ChangePW.css">
</head>

<body>
    <form method="POST" action="/api/changePassword">
        <div class="wrapper">
            <div class="pw-wrapper">
                <div class="i1">
                    <p>기존 비밀번호</p>
                    <input type="password" name="password" value="">
                </div>
                <div class="i2">
                    <p>새로운 비밀번호</p>
                    <input type="password" name="newPassword" value="">
                </div>
                <div class="i3">
                    <p>비밀번호 확인</p>
                    <input type="password" name="newPasswordCheck" value="">
                </div>
                <input type="submit" name="" value="수정하기" class="submit">
            </div>
        </div>
    </form>
    <script src="/assets/js/query.js"></script>
</body>

</html>
[[end]]