[[define "result2"]]
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>갈림길</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/carousel.css">
</head>


<body>

    <div class="nav-header">
        <a id="a1" class="white-border" href="/candidate/main">HR 대표</a>
        <a id="a2" href="/candidate/sub">품격위원</a>
        <a id="a3" href="/applyCandidate">후보자 등록/수정</a>
        <a id="a4" href="/result">투표결과</a>
        <a id="a5">3-S8</a>
        <a id="a6" href="/myInfo"><img src="/assets/img/silh_white.png" alt=""></a>
    </div>

    <div class="gallery">
        <button class="previousBtn"></button>
        <div class="gallery-container">
            <div class="gallery-item gallery-item-selected">
                <div class="flex-item1">
                    <img style="width:100%;height:auto;" src="/assets/file/3-S8_181094.png"></img>
                </div>
                <div class="flex-item2">서정민</div>
                <div class="flex-item3">HR대표 후보</div>
                <div class="flex-item4">학생을 위하는 반장</div>
                <button class="flex-item5">자세히 보기</button>
                <div class="div1">서정민</div>
                <div class="div2">HR대표후보</div>
                <hr class="Line">
                </hr>
                <div class="div3">학생을 위하는 반장</div>
                <div class="div4">ㅁㄴㅇㄻㄴㅇㄹ</div>
                <div class="xButton">x</div>
                <button class="voteButton">투표하기</button>
            </div>
        </div>
        <button class="nextBtn"></button>
        <div class="gallery-controls" style="display:none;"></div>
    </div>

    <canvas id="confetti"></canvas>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/celebrate.js"></script>
    <script src="/assets/js/query.js"></script>
</body>

</html>

[[end]]