[[define "adminCandidate"]]
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/adminCandidate.css">
</head>

<body>
    <div class="nav-header">
        <a id="a1">HR 대표</a>
        <a id="a2">품격위원</a>
        <a id="a3">후보자 등록/수정</a>
        <a id="a4">투표결과</a>
        <a id="a5">3-S8</a>
        <a id="a6"><img src="/assets/img/silh_white.png" alt=""></a>
    </div>
    <div class="contents-wrapper">
        <div class="HR-contents-wrapper">
            <div style="font-size:35px;">
                HR 대표
            </div>
            <div class="contents">
                <div class="item1">
                    <img src="" alt="">
                </div>
                <div class="item2">
                    <div>김산</div>
                    <div>HR 대표 후보</div>
                    <div>제가 반장이 된다면</div>
                    <button type="button" class="deleteButton">삭제하기</button>
                </div>
            </div>
            <div class="contents">
                <div class="item1">
                    <img src="" alt="">
                </div>
                <div class="item2">
                    <div>김산</div>
                    <div>HR 대표 후보</div>
                    <div>제가 반장이 된다면</div>
                    <button type="button" class="deleteButton">삭제하기</button>
                </div>
            </div>
            <div class="contents">
                <div class="item1">
                    <img src="" alt="">
                </div>
                <div class="item2">
                    <div>김산</div>
                    <div>HR 대표 후보</div>
                    <div>제가 반장이 된다면</div>
                    <button type="button" class="deleteButton">삭제하기</button>
                </div>
            </div>
        </div>
        <div class="manner-contents-wrapper">
            <div style="font-size:35px;">
                품격위원
            </div>
            <div class="contents">
                <div class="item1">
                    <img src="" alt="">
                </div>
                <div class="item2">
                    <div>김산</div>
                    <div>HR 대표 후보</div>
                    <div>제가 반장이 된다면</div>
                    <button type="button" class="deleteButton">삭제하기</button>
                </div>
            </div>
            <div class="contents">
                <div class="item1">
                    <img src="" alt="">
                </div>
                <div class="item2">
                    <div>김산</div>
                    <div>HR 대표 후보</div>
                    <div>제가 반장이 된다면</div>
                    <button type="button" class="deleteButton">삭제하기</button>
                </div>
            </div>
            <div class="contents">
                <div class="item1">
                    <img src="" alt="">
                </div>
                <div class="item2">
                    <div>김산</div>
                    <div>HR 대표 후보</div>
                    <div>제가 반장이 된다면</div>
                    <button type="button" class="deleteButton">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
[[end]]