[[define "adminMyInfo"]]
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/adminMyinfo.css">
</head>

<body>

    <div class="nav-header">
        <a id="a1">HR 대표</a>
        <a id="a2">품격위원</a>
        <a id="a3">후보자 등록/수정</a>
        <a id="a4">투표결과</a>
        <a id="a5">3-S8</a>
        <a id="a6"><img src="/assets/img/silh_white.png" alt=""></a>
    </div>


    <div class="wrapper">
        <div class="box1">
            <p style="margin-top:40px;">후보자 등록</p>
            <button class="register">
                진행중
            </button>
            <p style="margin-top:40px">투표</p>
            <button class="vote">
                진행중
            </button>
            <p style="margin-top:40px">투표 결과</p>
            <button class="total">
                집계하기
            </button>
            <button type="button" name="button" class="deleteGrpBtn">그룹 삭제</button>
            <button type="button" name="button" class="changePWBtn">비밀번호 변경</button>
            <button type="button" name="button" class="logoutBtn">로그아웃</button>
        </div>
        <div class="box2">
            <p style="font-size:30px; margin:0; margin-bottom:10px;">신규 신청자</p>
            <div class="current-wrapper">
                <div class="current-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <div class="button-wrapper">
                        <button type="button" name="button" class="goButton">수락</button>
                        <button type="button" name="button" class="exitButton">거절</button>
                    </div>
                </div>
                <div class="current-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <div class="button-wrapper">
                        <button type="button" name="button" class="goButton">수락</button>
                        <button type="button" name="button" class="exitButton">거절</button>
                    </div>
                </div>
                <div class="current-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <div class="button-wrapper">
                        <button type="button" name="button" class="goButton">수락</button>
                        <button type="button" name="button" class="exitButton">거절</button>
                    </div>
                </div>
                <div class="current-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <div class="button-wrapper">
                        <button type="button" name="button" class="goButton">수락</button>
                        <button type="button" name="button" class="exitButton">거절</button>
                    </div>
                </div>
            </div>
            <p style="font-size:30px; margin:0; margin-bottom:10px; margin-top:40px;">일행</p>
            <div class="apply-wrapper">
                <div class="apply-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <p>후보자 등록 여부: O</p>
                    <button type="button" name="button" class="exitButton">추방</button>
                </div>
                <div class="apply-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <p>후보자 등록 여부: O</p>
                    <button type="button" name="button" class="exitButton">추방</button>
                </div>
                <div class="apply-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <p>후보자 등록 여부: O</p>
                    <button type="button" name="button" class="exitButton">추방</button>
                </div>
                <div class="apply-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <p>후보자 등록 여부: O</p>
                    <button type="button" name="button" class="exitButton">추방</button>
                </div>
                <div class="apply-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <p>후보자 등록 여부: O</p>
                    <button type="button" name="button" class="exitButton">추방</button>
                </div>
                <div class="apply-item">
                    <p>181094</p>
                    <p>서정민</p>
                    <p>후보자 등록 여부: O</p>
                    <button type="button" name="button" class="exitButton">추방</button>
                </div>
            </div>


        </div>
    </div>
    </div>
</body>

</html>
[[end]]